---
- name: "Check authn_anon package"
  stat:
    path: /home/{{ payara_user }}/downloads/authn.anon-{{ authn_anon_version }}-distro.zip
  register: packageResult

- name: "Download authn_anon"
  get_url:
    url: https://repo.icatproject.org/repo/org/icatproject/authn.anon/{{ authn_anon_version }}/authn.anon-{{ authn_anon_version }}-distro.zip
    dest: /home/{{ payara_user }}/downloads
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  when: packageResult.stat.exists is defined and packageResult.stat.exists == false

- name: "Check authn_anon installation"
  stat:
    path: /home/{{ payara_user }}/install/authn.anon
  register: installationResult

- name: "Unarchive authn_anon if not installed"
  unarchive:
    src: /home/{{ payara_user }}/downloads/authn.anon-{{ authn_anon_version }}-distro.zip
    dest: /home/{{ payara_user }}/install
    remote_src: true
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
  when: installationResult.stat.exists is defined and installationResult.stat.exists == false

- name: "Configure authn_anon setup.properties"
  template:
    src: roles/payara/templates/setup.properties.j2
    dest: /home/{{ payara_user }}/install/authn.anon/setup.properties
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0600
  notify:
    - "authn_anon-handler"

- name: "Check run.properties file existence"
  local_action: stat path={{ role_path }}/files/run.properties
  become: false
  register: runPropertiesResult

- name: "Configure authn_anon run.properties via copying"
  copy:
    src: file/run.properties
    dest: /home/{{ payara_user }}/install/authn.anon/run.properties
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  when: runPropertiesResult.stat.exists is defined and runPropertiesResult.stat.exists == true
  notify:
    - "authn_anon-handler"

- name: "Configure authn_anon run.properties via templating"
  template:
    src: templates/run.properties.j2
    dest: /home/{{ payara_user }}/install/authn.anon/run.properties
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  when: runPropertiesResult.stat.exists is defined and runPropertiesResult.stat.exists == false
  notify:
    - "authn_anon-handler"

- name: "Configure authn_anon logback.xml"
  copy:
    src: files/logback.xml
    dest: /home/{{ payara_user }}/install/authn.anon/logback.xml
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  notify:
    - "authn_anon-handler"

- name: "Setup authn_anon if not setup"
  import_tasks: tasks/installation.yml
  when: (ansible_local is not defined) or (ansible_local.local is not defined) or (ansible_local.local.instantiations is not defined) or (ansible_local.local.instantiations.authn_anon is not defined) or (ansible_local.local.instantiations.authn_anon != 'true')

- name: "Set temporary fact to indicate authn_anon is installed within play"
  set_fact:
    authn_anon: true
