---
- name: 'Create payara user group'
  group:
    name: '{{ payara_user }}'
    state: present

- name: 'Create payara user'
  user:
    name: '{{ payara_user }}'
    createhome: true
    group: '{{ payara_user }}'
    shell: /bin/bash

- name: 'Create downloads directory'
  file:
    path: /home/{{ payara_user }}/downloads
    state: directory
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0775

- name: 'Create install directory'
  file:
    path: /home/{{ payara_user }}/install
    state: directory
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0775

- name: 'Create scripts directory'
  file:
    path: /home/{{ payara_user }}/scripts
    state: directory
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0775

- name: 'Create unpackage directory'
  file:
    path: /home/{{ payara_user }}/unpackage
    state: directory
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0775

- name: 'Install payara init script'
  template:
    src: templates/payara-init.j2
    dest: '/usr/local/bin/payara-init'
    owner: root
    group: root
    mode: 0775

- name: 'Check if .bash_profile exists'
  stat:
    path: /home/{{ payara_user }}/.bash_profile
  register: bashProfileResult

- name: 'Add path to payara executable to PATH variable in .bash_profile'
  lineinfile:
    path: /home/{{ payara_user }}/.bash_profile
    line: 'export PATH=$HOME/{{ payara_directory }}/bin:$PATH'
    regexp: '^export PATH=\$HOME\/payara[0-9]+(\.{1}[0-9]+)*\/bin:\$PATH$'
  when: bashProfileResult.stat.exists is defined and bashProfileResult.stat.exists == true

- name: 'Add path to payara executable to PATH variable in .profile'
  lineinfile:
    path: /home/{{ payara_user }}/.profile
    line: 'export PATH=$HOME/{{ payara_directory }}/bin:$PATH'
    regexp: '^export PATH=\$HOME\/payara[0-9]+(\.{1}[0-9]+)*\/bin:\$PATH$'
  when: bashProfileResult.stat.exists is defined and bashProfileResult.stat.exists == false

- name: 'Check payara package'
  stat:
    path: /home/{{ payara_user }}/downloads/payara-{{ payara_version }}.zip
  register: packageResult

- name: 'Download payara'
  get_url:
    url: http://search.maven.org/remotecontent?filepath=fish/payara/distributions/payara/{{ payara_version }}/payara-{{ payara_version }}.zip
    dest: /home/{{ payara_user }}/downloads
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0664
  when: packageResult.stat.exists is defined and packageResult.stat.exists == false

- name: 'Check payara setup script'
  stat:
    path: /home/{{ payara_user }}/scripts/setup-glassfish.py
  register: scriptResult

- name: 'Download payara setup script'
  get_url:
    url: https://raw.githubusercontent.com/icatproject/icat.utils/master/src/main/scripts/setup-glassfish.py
    dest: /home/{{ payara_user }}/scripts
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
    mode: 0664
  when: scriptResult.stat.exists is defined and scriptResult.stat.exists == false

- name: 'Check payara installation'
  stat:
    path: /home/{{ payara_user }}/{{ payara_directory }}
  register: installationResult

- name: 'Delete contents of /home/{{ payara_user }}/unpackage'
  shell: 'su -l {{ payara_user }} -c "rm -rf /home/{{ payara_user }}/unpackage/*"'
  become: true
  become_user: root
  args:
    executable: /bin/bash
  when: installationResult.stat.exists is defined and installationResult.stat.exists == false

- name: 'Unarchive payara if not installed'
  unarchive:
    src: /home/{{ payara_user }}/downloads/payara-{{ payara_version }}.zip
    dest: /home/{{ payara_user }}/unpackage
    remote_src: true
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
  when: installationResult.stat.exists is defined and installationResult.stat.exists == false

- name: 'Move contents of /home/{{ payara_user }}/unpackage'
  shell: 'su -l {{ payara_user }} -c "mv /home/{{ payara_user }}/unpackage/payara* /home/{{ payara_user }}/payara{{ payara_version }}"'
  become: true
  become_user: root
  args:
    executable: /bin/bash
  when: installationResult.stat.exists is defined and installationResult.stat.exists == false

- name: 'Make sure we are using the correct java version for payara for Debian systems (Ubuntu 16.04)'
  lineinfile:
    path: /home/{{ payara_user }}/{{ payara_directory }}/glassfish/config/asenv.conf
    line: 'AS_JAVA="/usr/lib/jvm/java-1.8.0-openjdk-amd64"'
    regexp: '^AS_JAVA="\/usr\/lib\/jvm\/java-1\.8\.0-openjdk-amd64"$'
  when: ansible_os_family == 'Debian' and ansible_distribution_major_version == '16'

- name: 'Make sure we are using the correct java version for payara for Red Hat systems (EL 7)'
  lineinfile:
    path: /home/{{ payara_user }}/{{ payara_directory }}/glassfish/config/asenv.conf
    line: 'AS_JAVA="/usr/lib/jvm/java-1.8.0-openjdk"'
    regexp: '^AS_JAVA="\/usr\/lib\/jvm\/java-1\.8\.0-openjdk"$'
  when: ansible_os_family == 'RedHat' and ansible_distribution_major_version == '7'

- name: 'Setup payara if not setup'
  import_tasks: tasks/installation.yml
  when: (ansible_local is not defined) or (ansible_local.local is not defined) or (ansible_local.local.instantiations is not defined) or (ansible_local.local.instantiations.payara is not defined) or (ansible_local.local.instantiations.payara != 'true')

- name: 'Check payara domain'
  stat:
    path: /home/{{ payara_user }}/{{ payara_directory }}/glassfish/domains/{{ payara_domain }}/lib/ext
  register: domainResult

- name: 'Create symlink to mysql connector library'
  file:
    src: /usr/share/java/mysql-connector-java.jar
    path: /home/{{ payara_user }}/{{ payara_directory }}/glassfish/domains/{{ payara_domain }}/lib/ext/mysql-connector-java.jar
    state: link
    owner: '{{ payara_user }}'
    group: '{{ payara_user }}'
  when: domainResult.stat.exists is defined and domainResult.stat.exists == true
  notify: "payara-handler"

- meta: flush_handlers
