# General properties
icat.url = https://{{ icat_url }}:8181

plugin.zipMapper.class = org.icatproject.ids.storage.ZipMapper

plugin.main.class = org.icatproject.ids.storage.MainFileStorage
plugin.main.dir = /home/{{ payara_user }}/data/main

cache.dir = /home/{{ payara_user }}/data/cache
preparedCount = 10000
processQueueIntervalSeconds = 5
sizeCheckIntervalSeconds = 60
!readOnly = true
maxIdsInQuery = 1000
rootUserNames = {% if ansible_local.local.instantiations.authn_simple is defined and ansible_local.local.instantiations.authn_simple == 'true' %}simple/root {% endif %}{% if ansible_local.local.instantiations.authn_db is defined and ansible_local.local.instantiations.authn_db == 'true' %}db/root {% endif %}

reader = {% if ansible_local.local.instantiations.authn_simple is defined and ansible_local.local.instantiations.authn_simple == 'true' %}simple username {{ authn_reader_username }} password {{ authn_reader_password }}{% endif %}

# Properties for archive storage
plugin.archive.class = org.icatproject.ids.storage.ArchiveFileStorage
plugin.archive.dir = /home/{{ payara_user }}/data/archive
writeDelaySeconds = 60
startArchivingLevel1024bytes = 5000000
stopArchivingLevel1024bytes =  4000000
storageUnit = dataset
tidyBlockSize = 500

# File checking properties
filesCheck.parallelCount = 5
filesCheck.gapSeconds = 5
filesCheck.lastIdFile = /home/{{ payara_user }}/logs/lastIdFile
filesCheck.errorLog = /home/{{ payara_user }}/logs/filesCheckErrors.log

# Link properties
linkLifetimeSeconds = 3600

# JMS Logging
log.list = READ WRITE INFO LINK MIGRATE PREPARE

# JMS - uncomment and edit if needed
!jms.topicConnectionFactory = java:comp/DefaultJMSConnectionFactory
