<settings>
   <profiles>
      <profile>
         <activation>
             <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
             <serverUrl>https://{{ icat_url }}:8181</serverUrl>
             <luceneUrl>https://{{ lucene_url }}:8181</luceneUrl>
             <javax.net.ssl.trustStore>/home/{{ payara_user }}/{{ payara_directory }}/glassfish/domains/{{ payara_domain }}/config/cacerts.jks</javax.net.ssl.trustStore>
             <containerHome>/home/{{ payara_user }}/{{ payara_directory }}</containerHome>
             <testHome>/home/{{ payara_user }}/test</testHome>
         </properties>
      </profile>
      <profile>
          <id>SUREFIRE-1588-workaround</id>
          <activation>
              <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
              <argLine>-Djdk.net.URLClassPath.disableClassPathURLCheck=true</argLine>
          </properties>
      </profile>
    </profiles>
</settings>
