<settings>
   <profiles>
      <profile>
         <activation>
             <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
             <serverUrl>{{ icat_url }}</serverUrl>
             {% if lucene_url is defined and lucene_url %}
             <luceneUrl>{{ lucene_url }}</luceneUrl>
             {% endif %}
             <javax.net.ssl.trustStore>{{ payara_domain_dir }}/config/cacerts.jks</javax.net.ssl.trustStore>
             <containerHome>{{ payara_dir }}</containerHome>
             <testHome>/home/{{ payara_user }}/test</testHome>
         </properties>
      </profile>
      <profile>
          <id>SUREFIRE-1588-workaround</id>
          <activation>
              <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
              <argLine>-Djdk.net.URLClassPath.disableClassPathURLCheck=true</argLine>
          </properties>
      </profile>
    </profiles>
</settings>
