---
# Payara user and admin user's password
payara_user: "glassfish"
payara_admin_password: "{{ vault_payara_admin_password }}"

# Database root user's username and password
db_root_username: "{{ vault_db_root_username }}"
db_root_password: "{{ vault_db_root_password }}"

# ICAT database hostname, database name, username and password
db_icat_hostname: "localhost"
db_icat_mariadb_port: 3306
db_icat_oracle_port: 1521
icat_database: "{{ vault_icat_database }}"
db_icat_username: "{{ vault_db_icat_username }}"
db_icat_password: "{{ vault_db_icat_password }}"

# Authn_simple usernames
authn_root_username: "{{ vault_authn_root_username }}"
authn_ingest_username: "{{ vault_authn_ingest_username }}"
authn_reader_username: "{{ vault_authn_reader_username }}"
authn_icatuser_username: "{{ vault_authn_icatuser_username }}"

# Authn_simple passwords
authn_root_password: "{{ vault_authn_root_password }}"
authn_ingest_password: "{{ vault_authn_ingest_password }}"
authn_reader_password: "{{ vault_authn_reader_password }}"
authn_icatuser_password: "{{ vault_authn_icatuser_password }}"

# Authn_simple server URL
authn_simple_url: "{{ ansible_fqdn }}"

# Authn_db server URL
authn_db_url: "{{ ansible_fqdn }}"

# Authn_anon server URL
authn_anon_url: "{{ ansible_fqdn }}"

# Authn_ldap server URL
authn_ldap_url: "{{ ansible_fqdn }}"

# ICAT Lucene server URL
lucene_url: "{{ ansible_fqdn }}"

# ICAT server URL
icat_url: "{{ ansible_fqdn }}"

# IDS server URL
ids_url: "{{ ansible_fqdn }}"

# TopCat server URL
topcat_url: "{{ ansible_fqdn }}"

# TopCat database hostname, database name, username and password
db_topcat_hostname: "localhost"
topcat_database: "{{ vault_topcat_database }}"
db_topcat_username: "{{ vault_db_topcat_username }}"
db_topcat_password: "{{ vault_db_topcat_password }}"