# Oracle
{% if icat_server_compat46 is defined and icat_server_compat46 %}
!db.vendor = oracle
{% endif %}
!db.driver = oracle.jdbc.pool.OracleDataSource
!db.url = jdbc:oracle:thin:@//{{ db_icat_hostname }}:1521/{{ icat_database }}
!db.username = {{ db_icat_username }}
!db.password = {{ db_icat_password }}

# Optional Oracle
!db.target = Oracle11
!db.logging = FINE

# MySQL
{% if icat_server_compat46 is defined and icat_server_compat46 %}
db.vendor = mysql
{% endif %}
db.driver = com.mysql.jdbc.jdbc2.optional.MysqlDataSource
db.url = jdbc:mysql://{{ db_icat_hostname }}:3306/{{ icat_database }}
db.username = {{ db_icat_username }}
db.password = {{ db_icat_password }}

# Optional MySQL
!db.target = MySQL
!db.logging = FINE
