---

- name: 'Installing common packages'
  package: name={{ item }} state=present
  with_items:
  - htop
  - unzip
  - vim
  - wget

- name: 'Create ansible config directory on remote hosts'
  file:
    path: /etc/ansible/facts.d
    state: directory
    owner: root
    group: root
    mode: 0755

- name: 'Check local fact file'
  stat:
    path: /etc/ansible/facts.d/local.fact
  register: factFileResult

- name: 'Create local fact file on remote hosts to record instantiated software'
  blockinfile:
    path: '/etc/ansible/facts.d/local.fact'
    block: |
      [instantiations]
    insertbefore: BOF
    marker: ''
    marker_begin: ''
    marker_end: ''
    create: true
    owner: root
    group: root
    mode: 0644
  when: factFileResult.stat.exists is defined and factFileResult.stat.exists == false
