---

- name: 'Restart payara'
  include_tasks: roles/payara/handlers/payara-handler.yml

- name: 'Setup development icat_server'
  include_tasks: handlers/icat_server_dev-handler.yml

- name: 'Set fact on host to record that development icat_server has been instantiated'
  lineinfile:
    path: /etc/ansible/facts.d/local.fact
    state: present
    regexp: '^dev_icat_server'
    insertafter: '^\[instantiations\]$'
    line: 'dev_icat_server=true'
