---
- name: "Check ids_storaged_plugin package"
  stat:
    path: /home/{{ payara_user }}/downloads/storaged-ids-plugin-{{ ids_storaged_plugin_version }}-distro.zip
  register: packageResult

- name: "Download ids_storaged_plugin"
  get_url:
    url: http://nexus.esc.rl.ac.uk:8081/nexus/service/local/repositories/releases/content/uk/ac/rl/esc/storaged-ids-plugin/{{ ids_storaged_plugin_version }}/storaged-ids-plugin-{{ ids_storaged_plugin_version }}-distro.zip 
    dest: /home/{{ payara_user }}/downloads
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  when: packageResult.stat.exists is defined and packageResult.stat.exists == false

- name: "Check ids_storaged_plugin installation"
  stat:
    path: /home/{{ payara_user }}/install/storaged-ids-plugin
  register: installationResult

- name: "Unarchive ids_storaged_plugin if not installed"
  unarchive:
    src: /home/{{ payara_user }}/downloads/storaged-ids-plugin-{{ ids_storaged_plugin_version }}-distro.zip
    dest: /home/{{ payara_user }}/install
    remote_src: true
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
  when: installationResult.stat.exists is defined and installationResult.stat.exists == false

- name: "Check setup.properties file existence"
  local_action: stat path={{ role_path }}/files/setup.properties
  become: false
  register: setupPropertiesResult

- name: "Configure ids_storaged_plugin setup.properties via copying"
  copy:
    src: files/setup.properties
    dest: /home/{{ payara_user }}/install/storaged-ids-plugin/setup.properties
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0600
  when: setupPropertiesResult.stat.exists is defined and setupPropertiesResult.stat.exists == true
  notify:
    - "ids_storaged_plugin-handler"

- name: "Configure ids_storaged_plugin setup.properties via templating"
  template:
    src: roles/payara/templates/setup.properties.j2
    dest: /home/{{ payara_user }}/install/storaged-ids-plugin/setup.properties
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0600
  when: setupPropertiesResult.stat.exists is defined and setupPropertiesResult.stat.exists == false
  notify:
    - "ids_storaged_plugin-handler"

- name: "Configure ids_storaged_plugin logback.xml"
  copy:
    src: files/logback.xml
    dest: /home/{{ payara_user }}/install/storaged-ids-plugin/logback.xml
    owner: "{{ payara_user }}"
    group: "{{ payara_user }}"
    mode: 0664
  notify:
    - "ids_storaged_plugin-handler"

- name: "Setup ids_storaged_plugin if not setup"
  import_tasks: tasks/installation.yml
  when: (ansible_local is not defined) or (ansible_local.local is not defined) or (ansible_local.local.instantiations is not defined) or (ansible_local.local.instantiations.ids_storaged_plugin is not defined) or (ansible_local.local.instantiations.ids_storaged_plugin != 'true')
